.header {
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: linear-gradient(to bottom, from(#ffff), to(#cccc));
  -webkit-gradient: (linear, left top, left bottom, from(#ccc), to(#0000));
}

.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  /*  justify-items: stretch; */
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 60vh;
  align-items: center;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

/* SEARCH BAR */
.search {
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 7px;
  outline: none;
  margin-bottom: 10px;
}

/* ERROR PAGE */
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.errorHeader {
  font-size: 60px;
}
.errorCaption {
  font-size: 20px;
}
.errorRedirect {
  font-size: 15px;
}
